:root {
  --primary-orange: #ff451e;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
}

.sticky-nav {
  border-radius: 1.2rem;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--primary-orange);
}

.text-orange {
  color: var(--primary-orange);
}

.bg-orange {
  background: var(--primary-orange);
}

.border-grey {
  border: 1px solid rgb(170, 170, 170);
}

.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 60px;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}

body {
  margin-top: 20px;
  background-color: #f1f3f7;
}

.activity-checkout {
  list-style: none;
}

.activity-checkout .checkout-icon {
  position: absolute;
  top: -4px;
  left: -24px;
}

.activity-checkout .checkout-item {
  position: relative;
  padding-bottom: 24px;
  padding-left: 35px;
  border-left: 2px solid #f5f6f8;
}

.activity-checkout .checkout-item {
  border-color: #3b76e1;
}

.avatar {
  height: 3rem;
  width: 3rem;
}

.avatar-lg {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
}

.avatar-title {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #3b76e1;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.avatar-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 8px;
}

.avatar-group .avatar-group-item {
  margin-left: -8px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.avatar-group .avatar-group-item:hover {
  position: relative;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

a {
  text-decoration: none !important;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.47rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #545965;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e2e5e8;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.75rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

/* ------------------------------- bootstrap toasts */

.message-container {
  position: fixed;
  top: 100px;
  right: 15px;
  z-index: 99999999999;
  border-radius: 0.5rem;
  overflow: hidden;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}
