{% block extra_css %} {% endblock %}

<!-- <div
  id="carouselExampleIndicators"
  class="carousel slide p-4 bg-dark"
  data-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row gx-5">
        <div class="col-lg-4 mb-5">
          <div class="card h-100 shadow border-0">
            <img class="card-img-top" src="/media/3.jpg" alt="..." />
            <div class="card-body p-4">
              <div class="badge bg-orange bg-gradient rounded-pill mb-2">
                News
              </div>
              <a class="text-decoration-none link-dark stretched-link" href="#!"
                ><h5 class="card-title mb-3">Blog post title</h5></a
              >
              <p class="card-text mb-0">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
              <div class="d-flex align-items-end justify-content-between">
                <div class="d-flex align-items-center">
                  <img
                    class="rounded-circle me-3"
                    src="https://dummyimage.com/40x40/ced4da/6c757d"
                    alt="..."
                  />
                  <div class="small">
                    <div class="fw-bold">Kelly Rowan</div>
                    <div class="text-muted">
                      March 12, 2023 &middot; 6 min read
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="card h-100 shadow border-0">
            <img class="card-img-top" src="/media/2.jpg" alt="..." />
            <div class="card-body p-4">
              <div class="badge bg-orange bg-gradient rounded-pill mb-2">
                Media
              </div>
              <a class="text-decoration-none link-dark stretched-link" href="#!"
                ><h5 class="card-title mb-3">Another blog post title</h5></a
              >
              <p class="card-text mb-0">
                This text is a bit longer to illustrate the adaptive height of
                each card. Some quick example text to build on the card title
                and make up the bulk of the card's content.
              </p>
            </div>
            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
              <div class="d-flex align-items-end justify-content-between">
                <div class="d-flex align-items-center">
                  <img
                    class="rounded-circle me-3"
                    src="https://dummyimage.com/40x40/ced4da/6c757d"
                    alt="..."
                  />
                  <div class="small">
                    <div class="fw-bold">Josiah Barclay</div>
                    <div class="text-muted">
                      March 23, 2023 &middot; 4 min read
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="card h-100 shadow border-0">
            <img class="card-img-top" src="/media/1.jpg" alt="..." />
            <div class="card-body p-4">
              <div class="badge bg-orange bg-gradient rounded-pill mb-2">
                News
              </div>
              <a class="text-decoration-none link-dark stretched-link" href="#!"
                ><h5 class="card-title mb-3">
                  The last blog post title is a little bit longer than the
                  others
                </h5></a
              >
              <p class="card-text mb-0">
                Some more quick example text to build on the card title and make
                up the bulk of the card's content.
              </p>
            </div>
            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
              <div class="d-flex align-items-end justify-content-between">
                <div class="d-flex align-items-center">
                  <img
                    class="rounded-circle me-3"
                    src="https://dummyimage.com/40x40/ced4da/6c757d"
                    alt="..."
                  />
                  <div class="small">
                    <div class="fw-bold">Evelyn Martinez</div>
                    <div class="text-muted">
                      April 2, 2023 &middot; 10 min read
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row gx-5">
        <div class="col-lg-4 mb-5">
          <div class="card h-100 shadow border-0">
            <img class="card-img-top" src="/media/3.jpg" alt="..." />
            <div class="card-body p-4">
              <div class="badge bg-orange bg-gradient rounded-pill mb-2">
                News
              </div>
              <a class="text-decoration-none link-dark stretched-link" href="#!"
                ><h5 class="card-title mb-3">Blog post title</h5></a
              >
              <p class="card-text mb-0">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
              <div class="d-flex align-items-end justify-content-between">
                <div class="d-flex align-items-center">
                  <img
                    class="rounded-circle me-3"
                    src="https://dummyimage.com/40x40/ced4da/6c757d"
                    alt="..."
                  />
                  <div class="small">
                    <div class="fw-bold">Kelly Rowan</div>
                    <div class="text-muted">
                      March 12, 2023 &middot; 6 min read
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="card h-100 shadow border-0">
            <img class="card-img-top" src="/media/2.jpg" alt="..." />
            <div class="card-body p-4">
              <div class="badge bg-orange bg-gradient rounded-pill mb-2">
                Media
              </div>
              <a class="text-decoration-none link-dark stretched-link" href="#!"
                ><h5 class="card-title mb-3">Another blog post title</h5></a
              >
              <p class="card-text mb-0">
                This text is a bit longer to illustrate the adaptive height of
                each card. Some quick example text to build on the card title
                and make up the bulk of the card's content.
              </p>
            </div>
            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
              <div class="d-flex align-items-end justify-content-between">
                <div class="d-flex align-items-center">
                  <img
                    class="rounded-circle me-3"
                    src="https://dummyimage.com/40x40/ced4da/6c757d"
                    alt="..."
                  />
                  <div class="small">
                    <div class="fw-bold">Josiah Barclay</div>
                    <div class="text-muted">
                      March 23, 2023 &middot; 4 min read
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="card h-100 shadow border-0">
            <img class="card-img-top" src="/media/1.jpg" alt="..." />
            <div class="card-body p-4">
              <div class="badge bg-orange bg-gradient rounded-pill mb-2">
                News
              </div>
              <a class="text-decoration-none link-dark stretched-link" href="#!"
                ><h5 class="card-title mb-3">
                  The last blog post title is a little bit longer than the
                  others
                </h5></a
              >
              <p class="card-text mb-0">
                Some more quick example text to build on the card title and make
                up the bulk of the card's content.
              </p>
            </div>
            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
              <div class="d-flex align-items-end justify-content-between">
                <div class="d-flex align-items-center">
                  <img
                    class="rounded-circle me-3"
                    src="https://dummyimage.com/40x40/ced4da/6c757d"
                    alt="..."
                  />
                  <div class="small">
                    <div class="fw-bold">Evelyn Martinez</div>
                    <div class="text-muted">
                      April 2, 2023 &middot; 10 min read
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row gx-5">
        <div class="col-lg-4 mb-5">
          <div class="card h-100 shadow border-0">
            <img class="card-img-top" src="/media/3.jpg" alt="..." />
            <div class="card-body p-4">
              <div class="badge bg-orange bg-gradient rounded-pill mb-2">
                News
              </div>
              <a class="text-decoration-none link-dark stretched-link" href="#!"
                ><h5 class="card-title mb-3">Blog post title</h5></a
              >
              <p class="card-text mb-0">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
              <div class="d-flex align-items-end justify-content-between">
                <div class="d-flex align-items-center">
                  <img
                    class="rounded-circle me-3"
                    src="https://dummyimage.com/40x40/ced4da/6c757d"
                    alt="..."
                  />
                  <div class="small">
                    <div class="fw-bold">Kelly Rowan</div>
                    <div class="text-muted">
                      March 12, 2023 &middot; 6 min read
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="card h-100 shadow border-0">
            <img class="card-img-top" src="/media/2.jpg" alt="..." />
            <div class="card-body p-4">
              <div class="badge bg-orange bg-gradient rounded-pill mb-2">
                Media
              </div>
              <a class="text-decoration-none link-dark stretched-link" href="#!"
                ><h5 class="card-title mb-3">Another blog post title</h5></a
              >
              <p class="card-text mb-0">
                This text is a bit longer to illustrate the adaptive height of
                each card. Some quick example text to build on the card title
                and make up the bulk of the card's content.
              </p>
            </div>
            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
              <div class="d-flex align-items-end justify-content-between">
                <div class="d-flex align-items-center">
                  <img
                    class="rounded-circle me-3"
                    src="https://dummyimage.com/40x40/ced4da/6c757d"
                    alt="..."
                  />
                  <div class="small">
                    <div class="fw-bold">Josiah Barclay</div>
                    <div class="text-muted">
                      March 23, 2023 &middot; 4 min read
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="card h-100 shadow border-0">
            <img class="card-img-top" src="/media/1.jpg" alt="..." />
            <div class="card-body p-4">
              <div class="badge bg-orange bg-gradient rounded-pill mb-2">
                News
              </div>
              <a class="text-decoration-none link-dark stretched-link" href="#!"
                ><h5 class="card-title mb-3">
                  The last blog post title is a little bit longer than the
                  others
                </h5></a
              >
              <p class="card-text mb-0">
                Some more quick example text to build on the card title and make
                up the bulk of the card's content.
              </p>
            </div>
            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
              <div class="d-flex align-items-end justify-content-between">
                <div class="d-flex align-items-center">
                  <img
                    class="rounded-circle me-3"
                    src="https://dummyimage.com/40x40/ced4da/6c757d"
                    alt="..."
                  />
                  <div class="small">
                    <div class="fw-bold">Evelyn Martinez</div>
                    <div class="text-muted">
                      April 2, 2023 &middot; 10 min read
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->
<div class="container-xl">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div
        id="myCarousel"
        class="carousel slide"
        data-ride="carousel"
        data-interval="0"
      >
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class=""></li>
          <li data-target="#myCarousel" data-slide-to="1" class=""></li>
          <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
          <div class="carousel-item">
            <div class="row">
              <div class="col-sm-4">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img src="../../media/1.jpg" class="img-fluid" alt="" />
                  </div>
                  <div class="thumb-content">
                    <h4>London</h4>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Nam eu sem tempor, varius quam.
                    </p>
                    <a href="#" class="btn btn-primary"
                      >More <i class="fa fa-angle-right"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img src="../../media/1.jpg" class="img-fluid" alt="" />
                  </div>
                  <div class="thumb-content">
                    <h4>New York</h4>
                    <p>
                      Vivamus fermentum in arcu in aliquam. Quisque aliqua porta
                      odio in fringilla vivamus.
                    </p>
                    <a href="#" class="btn btn-primary"
                      >More <i class="fa fa-angle-right"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img src="../../media/1.jpg" class="img-fluid" alt="" />
                  </div>
                  <div class="thumb-content">
                    <h4>Paris</h4>
                    <p>
                      Convallis eget pretium eu, bibendum non leo. Proin susc
                      ipit purus adipiscing dolor.
                    </p>
                    <a href="#" class="btn btn-primary"
                      >More <i class="fa fa-angle-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-sm-4">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img src="../../media/1.jpg" class="img-fluid" alt="" />
                  </div>
                  <div class="thumb-content">
                    <h4>Kuala Lumpur</h4>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Nam eu sem tempor, varius quam.
                    </p>
                    <a href="#" class="btn btn-primary"
                      >More <i class="fa fa-angle-right"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img src="../../media/1.jpg" class="img-fluid" alt="" />
                  </div>
                  <div class="thumb-content">
                    <h4>Agra</h4>
                    <p>
                      Vivamus fermentum in arcu in aliquam. Quisque aliqua porta
                      odio in fringilla vivamus.
                    </p>
                    <a href="#" class="btn btn-primary"
                      >More <i class="fa fa-angle-right"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img src="../../media/1.jpg" class="img-fluid" alt="" />
                  </div>
                  <div class="thumb-content">
                    <h4>Dubai</h4>
                    <p>
                      Convallis eget pretium eu, bibendum non leo. Proin susc
                      ipit purus adipiscing dolor.
                    </p>
                    <a href="#" class="btn btn-primary"
                      >More <i class="fa fa-angle-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item active">
            <div class="row">
              <div class="col-sm-4">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img src="../../media/1.jpg" class="img-fluid" alt="" />
                  </div>
                  <div class="thumb-content">
                    <h4>Rio De Janeiro</h4>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Nam eu sem tempor, varius quam.
                    </p>
                    <a href="#" class="btn btn-primary"
                      >More <i class="fa fa-angle-right"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img src="../../media/1.jpg" class="img-fluid" alt="" />
                  </div>
                  <div class="thumb-content">
                    <h4>Giza</h4>
                    <p>
                      Vivamus fermentum in arcu in aliquam. Quisque aliqua porta
                      odio in fringilla vivamus.
                    </p>
                    <a href="#" class="btn btn-primary"
                      >More <i class="fa fa-angle-right"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="thumb-wrapper">
                  <div class="img-box">
                    <img src="../../media/1.jpg" class="img-fluid" alt="" />
                  </div>
                  <div class="thumb-content">
                    <h4>Sydney</h4>
                    <p>
                      Convallis eget pretium eu, bibendum non leo. Proin susc
                      ipit purus adipiscing dolor.
                    </p>
                    <a href="#" class="btn btn-primary"
                      >More <i class="fa fa-angle-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
