<div id="myCarousel" class="carousel slide p-5" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class=""></li>
    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item text-center item-center active">
      <div class="img-box">
        <img src="/media/2.jpg" alt="" />
      </div>
      <p class="testimonial text-center mx-auto p-4">
        Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia.
        Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan
        tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt
        fringilla massa. Etiam hendrerit dolor eget rutrum.
      </p>
      <p class="overview text-center mx-auto">Darrach Barneveld</p>
      <div class="star-rating">
        <ul class="list-inline">
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star-o text-warning"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="carousel-item text-center item-center">
      <div class="img-box">
        <img src="/media/2.jpg" alt="" />
      </div>
      <p class="testimonial text-center mx-auto p-4">
        Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia.
        Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan
        tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt
        fringilla massa. Etiam hendrerit dolor eget rutrum.
      </p>
      <p class="overview text-center mx-auto">Darrach Barneveld</p>
      <div class="star-rating">
        <ul class="list-inline">
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star-o text-warning"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="carousel-item text-center item-center">
      <div class="img-box">
        <img src="/media/2.jpg" alt="" />
      </div>
      <p class="testimonial text-center mx-auto p-4">
        Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia.
        Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan
        tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt
        fringilla massa. Etiam hendrerit dolor eget rutrum.
      </p>
      <p class="overview text-center mx-auto">Darrach Barneveld</p>
      <div class="star-rating">
        <ul class="list-inline">
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa fa-star-o text-warning"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="prev"
  >
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
      <i class="fa fa-angle-left"></i>
    </a>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="next"
  >
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
      <i class="fa fa-angle-right"></i>
    </a>
    <span class="visually-hidden">Next</span>
  </button>
</div>
