{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
<header class="bg-dark">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Shop in style</h1>
        <p class="lead fw-normal text-white-50 mb-0">
          With this shop hompeage template
        </p>
      </div>
    </div>
</header>  

{% endblock %}

{% block content %}
    <!-- Section-->
    <section class="py-3 bg-white">
        <div class="container px-4 px-lg-5 mt-5">
          <div
            class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
          >

          {% for product in products  %}

          {% include "includes/product_card.html" with product=product %}

          {% endfor %}
     
          </div>
        </div>
      </section>
{% endblock %}